<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Cofagrigus</title>
    <link rel="shorcut icon" href="../img/cofagrigus.png" type="image/x-icon">
    <link rel="stylesheet" href="cofagrigus.css">
</head>

<body style="font-family: 'Bowlby One', cursive;">
    <h1 style="color: #ffd06e;">Cofagrigus</h1>
    <img style="width: 40%;" src="../img/cofagrigus.png" alt="Cofagrigus">
    <p><span style="color: white;">Tipo: </span><span style="color: white; background-color: #5c5c92; border-radius: 20%; padding: 2px;">Fantasma</span></p>
    <b>Descripción</b>
    <p>Cofagrigus es un sarcófago de color azul y amarillo con los ojos rojos, un rostro amenazante, con cuatro manos que parecen ser sombras.</p>
    <a style="text-decoration: none" href="../index.html">INICIO</a>
</body>

</html>