<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Dragapult</title>
    <link rel="shorcut icon" href="../img/dragapult.png" type="image/x-icon">
    <link rel="stylesheet" href="dragapult.css">
</head>

<body style="font-family: 'Bowlby One', cursive;">
    <h1 style="color: #ea7b91;">Dragapult</h1>
    <img style="width: 30%;" src="../img/dragapult.png" alt="Dragapult">
    <p><span style="color: white;">Tipo: </span><span style="color: white; background-color: #8a79ee; border-radius: 20%; padding: 2px;">Dragón</span><span style="color: white;">-</span><span style="color: white; background-color: #5c5c92; border-radius: 20%; padding: 2px;">Fantasma</span></p>
    <b>Descripción</b>
    <p>Dragapult está basado en el antiguo anfibio Diplocaulus, ahora extinto. También parece estar inspirado en un avión furtivo.</p>
</body>

</html>