<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Mega-Rayquaza</title>
    <link rel="shorcut icon" href="../img/mega_rayquaza.png" type="image/x-icon">
    <link rel="stylesheet" href="mega-rayquaza.css">
</head>

<body style="font-family: 'Bowlby One', cursive;">
    <h1><span style="color: #FBCC6A;">Mega-</span><span style="color: #93c5b6;">Rayquaza</span></h1>
    <img style="width: 40%;" src="../img/mega_rayquaza.png" alt="Mega-Rayquaza">
    <p><span style="color: white;">Tipo: </span><span style="color: white; background-color: #7766EE; border-radius: 20%; padding: 2px;">Dragón</span>-<span style="color: white; background-color: #6699FF; border-radius: 20%; padding: 2px;">Volador</span></p>
    <b>Descripción</b>
    <p>Su nombre puede ser derivado de ray, describiendo cómo Rayquaza vive bajo la influencia del fenómeno solar como los rayos del sol. Es posible que el quaza sea una referencia a Quetzalcóatl, ya que a Quetzalcóatl se le representa como una serpiente
        emplumada.
    </p>
</body>

</html>