<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Toxtricity</title>
    <link rel="shorcut icon" href="../img/toxtricity.png" type="image/x-icon">
    <link rel="stylesheet" href="toxtricity.css">
</head>

<body style="font-family: 'Bowlby One', cursive;">
    <h1 style="color: #f6ea46;">Toxtricity</h1>
    <img style="width: 30%;" src="../img/toxtricity.png" alt="Toxtricity">
    <p><span style="color: white;">Tipo: </span><span style="color: white; background-color: #ffd15d;  border-radius: 20%; padding: 2px;">Eléctrico</span>-<span style="color: white; background-color: #ae5b9d; border-radius: 20%; padding: 2px;">Veneno</span></p>
    <b>Descripción</b>
    <p>Es un Pokémon bípedo, parecido a una salamandra o un tritón, con un cuerpo de color púrpura y un vientre amarillo. Dependiendo de su forma, alude a un guitarrista o bajista.</p>
</body>

</html>